@import 'vanilla-framework';
@import "config";
//import vanilla mixins
@include vf-base;
@include vf-u-padding-collapse;
@include vf-u-equal-height;
@include vf-p-grid;
@include vf-p-card;

//overriding vanilla font settings
$font-base-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
.row {
    padding-top: 10px;
}

.p-heading--3 {
    font-weight: 300;
    font-size: calc(1rem * 1.6);
    line-height: 1.1;
}

.p-card {
    border-radius: 2px;
    padding-top: calc(1rem - 5px);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 15%);
    overflow: hidden;

    a {

        &:hover {
            text-decoration: none;
            font-weight: bolder;
            color: $ubuntu-brand-color;
        }
    }
}

.p-card__content {
    padding: 0 0.5rem;

    p {
        a {
            font-weight: 400;
        }
    }

    .author {
        padding: 1rem 0;
    }
}
.text-primary {
    color: $primary-color;
    }
    
    .fix-height {
        height: 85px;
        overflow: hidden;
        font-size: 20px;
    }
    
    .branded-border {
        border-top: 3px solid $ubuntu-brand-color-psuedo;
}